<div class="appContentWrap flexXC pLg">
  <div class="wrapper">
    <div class="tableInfoSection flexYC">
      <h1 class="title prMd">Orders</h1>

      <div class="btnWrap mlAuto boxShadow">
        <div class="inner">
          <button class="btn" (click)="openModal('importOrders')">Import Orders</button>

          <button disabled>NA1</button>

          <button disabled>NA2</button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="existingOrdersAndPagination$ | async as ordersAndPagination">
      <ng-container *ngIf="ordersAndPagination.pageOfOrders[0]; else noOrders;">
        <div class="tableWrap">
          <table class="orderTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Customer</th>
                <th>Created</th>
                <th>Revenue $</th>
                <th>Cost $</th>
                <th>Price $</th>
                <th>Fulfillment</th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let order of ordersAndPagination.pageOfOrders; index as i">
                <ng-container *ngIf="order.id">
                  <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.created }}</td>
                    <td>{{ order.revenue }}</td>
                    <td>{{ order.cost }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.fulfillment }}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>

        <app-pagination
          *ngIf="ordersAndPagination.pager.totalPages > 1"
          [pagination]="ordersAndPagination.pager"
          (goToPage)="goToPage($event)"
        ></app-pagination>
      </ng-container>

      <ng-template #noOrders>
        <h4 class="emptyArrayError">Sorry, no existing orders. Please click 'Import Orders' button to add order to this list!</h4>
      </ng-template>
    </ng-container>
  </div>
</div>

<app-modal id="importOrders" class="appModal">
    <app-import-orders (importOrder)="saveOrder($event)"></app-import-orders>
</app-modal>
