
.pagination {

  li {
    list-style-type: none;

    &.active > a {
      font-weight: 700;
      pointer-events: none;
    }
  }

  a {
    display: block;
    padding: 5px 10px;
    margin-bottom: 0;
    text-decoration: none;

    &.arrow {
      position: relative;
      padding: 5px;
      transform-origin: center center;

      &.next {
        transform: rotate(-90deg);
      }

      &.prev {
        transform: rotate(90deg);
      }

      i {
        font-size: 1.15rem;
      }
    }
  }
}
