<div class="paginationWrap flexXC">
  <ul class="pagination flexYC mb0">
    <li *ngIf="currentPage > 1">
      <a
        class="arrow prev"
        href="#"
        (click)="setPage(currentPage - 1)"
      >
        <i class="icon-cheveron-down"></i>
      </a>
    </li>

    <li
      *ngFor="let page of pagesArray"
      [class.active]="currentPage === page"
    >
      <a href="#" (click)="setPage(page)">
        {{ page }}
      </a>
    </li>

    <li *ngIf="currentPage !== pagesArray.length">
      <a
        class="arrow next"
        href="#"
        (click)="setPage(currentPage + 1)"
      >
        <i class="icon-cheveron-down"></i>
      </a>
    </li>
  </ul>
</div>
