﻿
.appModal {
  display: none;
}

.modalWrapper {
    z-index: 1000;
}

.modal {
  width: 100%;
  max-width: 757px;
  height: 787px;
  max-height: 100%;
  background: #fff;
  overflow-x: hidden;
}

.modalBody {
  position: relative;
  min-height: 100%;
  padding: 20px 20px 74px 20px;
}

.modalFooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.modalBackground {
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}

body.modalOpen {
    overflow: hidden;
}

.modalTitle {
  text-align: center;
}

.modalNav {
  counter-reset: list;

  li {
    list-style-type: none;
    padding: 5px 10px;
    text-decoration: none;
    counter-increment: list;

    &.active {
      pointer-events: none;
      font-weight: 700;
    }

    &:before {
      content: counter(list) '. ';
    }
  }
}
