﻿<div
  class="modalWrapper fixedFitScreen flexC pLg"
  id="modalWrapper"
>
  <div class="modal">
    <div class="modalBody">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<div class="modalBackground fixedFitScreen"></div>
