
// Resets
* {
  box-sizing: border-box;
}

p,
h6,
h5,
h4,
h3,
h2,
h1,
a,
figure,
input,
label,
fieldset,
button,
table,
section {
  padding: 0;
  margin: 0 0 20px;
}

ul,
ol {
  padding: 0;
  margin: 0 0 10px;
}

li {
  padding: 0;
  margin: 0 0 10px;
}

label {
  display: inline-block;
}

sup {
  font-size: 65%;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {

  b,
  strong {
    font-weight: 700;
  }
}

// General styles and helper classes
.wrapper {
  width: 924px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.noListStyle {

  li {
    list-style-type: none;
  }
}

.tableWrap {
  overflow-x: auto;
  overflow-y: hidden;
}

body .table {
  display: table;
}

table, .table {
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 100%;
}

.thead, .tbody {
  vertical-align: middle;
  border-color: inherit;
}

.thead {
  display: table-header-group;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td, th, .td, .th {
  padding: 10px;
  border: solid gray;
  border-width: 0 1px 1px;
  text-align: left;
  vertical-align: top;

  &.center {
    text-align: center;
  }
}

.td input {
  margin-bottom: 0;
}

.td, .th {
  display: table-cell;
}

.th {
  font-weight: bold;
}

thead th, .thead .th {
  background-color: @med_color;
}

tbody tr:nth-of-type(odd) td, .tbody .tr:nth-of-type(odd) .td {
  background-color: @light_color;
}

tr:first-of-type td, tr:first-of-type th, .tr:first-of-type .td, .tr:first-of-type .th {
  border-top-width: 1px;
}

.thead ~ .tbody .tr:first-of-type .td {
  border-top-width: 0;
}

input[type=radio]:checked + label {
  font-weight: 700;
}

label {
  cursor: pointer;
}

.blockC {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexYC {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flexXC {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fixedFitScreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {

  .pLg {
    padding: 50px;

    @media all and (max-width: 767px) {
      padding: 20px;
    }
  }

  .pMd {
    padding: 20px;
  }

  .prMd {
    padding-right: 20px;
  }

  .mb0 {
    margin-bottom: 0;
  }

  .mbMd {
    margin-bottom: 20px;
  }

  .mlAuto {
    margin-left: auto;
  }

  .mxAuto {
    margin-right: auto;
    margin-left: auto;
  }

  .mbMdMinus {
    margin-bottom: -20px;
  }
}

.boxShadow {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,.3);
}

.visuallyHidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.underlined {
  position: relative;
  display: block;
  padding-bottom: 10px;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 35px;
    border-bottom: 1px solid #110F24;
  }
}

// Colors
@primary_color: #134485;
@secondary_color: #3CA455;
@text_color: #110F24;
@dark_color: #8E9091;
@med_color: #CCCED0;
@light_color: #F0F0F2;

// Typography
@font_family: Arial, sans-serif;

html {
  font-size: 14px;
}

body {
  font-family: @font_family;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: @text_color;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.55rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.2rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

// Button, link and input styles
a,
input,
button {
  font-family: @font_family;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s ease-in-out, opacity .4s ease-in-out, box-shadow .4s ease-in-out, transform .4s ease-in-out;
  outline: none;
}

a {
  color: @primary_color;

  &:hover {
    color: @secondary_color;
  }
}

button {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  border: 1px solid @med_color;
  text-decoration: none;

  &:disabled {
    pointer-events: none;
    color: @med_color;
    background-color: @light_color;
  }
}

input[type="text"] {
  width: 100%;
  padding: 8px 16px;
  border-radius: 18px;
}

.btn {
  background-color: @primary_color;
  color: #fff;

  &:hover {
    background-color: @secondary_color;
  }
}

.btnAlt {
  background-color: @secondary_color;
  color: #fff;

  &:hover {
    background-color: @primary_color;
  }
}

.btnWrap {
  display: flex;
  margin-bottom: 20px;

  > .inner {
    margin-bottom: -20px;
  }

  button:not(:last-child) {
    border-right-width: 0;
  }
}

// Form styles
.radioInputWrap {
  position: relative;

  input[type="radio"] {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
  }

  label {
    position: relative;
    padding-left: 21px;
    margin-bottom: 0;
    z-index: 2;
  }
}

// Error styles
.emptyArrayError {
  margin: 0;

  &:not(.small) {
    padding: 50px 0 20px;
  }

  @media all and (max-width: 767px) {

    &:not(.small) {
      padding-top: 20px;
    }
  }

  &.small {
    padding: 0 0 10px;
  }
}

// Fonts
@font_path: './assets/fonts/';

@font-face {
  font-family: 'icomoon';
  src: url('@{font_path}icomoon.eot');
  src: url('@{font_path}icomoon.eot?#iefix') format('embedded-opentype'),
  url('@{font_path}icomoon.woff2') format('woff2'),
  url('@{font_path}icomoon.woff') format('woff'),
  url('@{font_path}icomoon.ttf') format('truetype'),
  url('@{font_path}icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-down:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-checkmark:before {
  content: "\ea10";
}
