
.infoWrap {

  .info {
    display: inline-block;
    margin: 0 20px 20px 0;
  }
}

.breadcrumbWrap {

  li {
    display: inline-block;
    margin: 0 15px 20px 0;
    list-style-type: none;

    &:not(:last-of-type) {

      a:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 16px;
        border-right: 1px solid #110F24;
      }
    }
  }

  a {
    position: relative;
    padding-right: 15px;
  }
}

.productWrap {

  .productName {
    margin-bottom: 10px;
  }

  span {
    display: block;
    margin: 0 0 10px;
  }
}

.orderGrid {

  @media all and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }

  > div {

    @media all and (min-width: 480px) {
      width: ~"calc(50% - 15px)";

      &:nth-child(2n+1) {
        margin-right: 30px;
      }
    }
  }
}

.formStepButtonsWrap {
  margin: 0 0 ~"calc(34px + 20px)";

  .btnWrap {
    position: absolute;
    right: 20px;
    bottom: 74px;
    margin: 0;
  }
}

.prepareProductsTable {

  .tr {
    position: relative;
  }
}

.searchWrap {
  position: relative;

  .searchBtn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 36px;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
  }

  .searchInput {
    padding-left: 52px;
    margin-bottom: 0;
  }
}
