<div class="modalHeader">
  <h2 class="modalTitle">Import Order</h2>
</div>

<div
  class="modalContent"
  [ngSwitch]="formStepIndex"
>
  <div class="modalNavWrapper flexXC">
    <ul class="modalNav flexYC">
      <li [class.active]="formStepIndex === 1">Import Order</li>
      <li [class.active]="formStepIndex === 2 || formStepIndex === 3">Prepare Products</li>
      <li [class.active]="formStepIndex === 4">Confirm Order</li>
    </ul>
  </div>

  <div
    class="searchWrap mbMd"
    *ngIf="formStepIndex === 1"
  >
    <input
      id="search"
      class="searchInput"
      type="text"
      autocomplete="off"
      #searchInput
      [(ngModel)]="searchValue"
      (keyup)="triggerSearchSubject(searchInput.value)"
    >

    <div class="searchBtn">
      <i class="icon-search blockC"></i>
    </div>
  </div>

  <ul
    class="breadcrumbWrap mb0"
    *ngIf="formStepIndex === 2 || formStepIndex === 3"
  >
    <li>
      <a
        href="#"
        (click)="goToStep(1, true)"
      >
        My Orders
      </a>
    </li>

    <li>
      <a href="#">Order: {{ findOrderForm.value.orderID }}</a>
    </li>
  </ul>

  <ng-container *ngIf="importOrdersAndPagination$ | async as ordersAndPagination">
    <ng-container *ngIf="ordersAndPagination.pageOfOrders[0]; else noOrders;">
      <ng-container *ngSwitchCase="1">
        <form
          class="tableWrap mbMd"
          [formGroup]="findOrderForm"
        >
          <div class="table orderTable mb0 mxAuto">
            <div class="thead">
              <div class="tr">
                <div class="th">#</div>
                <div class="th">Customer</div>
                <div class="th">Amount of Products</div>
                <div class="th">Order Volume</div>
                <div class="th">SKU</div>
              </div>
            </div>

            <div class="tbody">
              <ng-container *ngFor="let order of ordersAndPagination.pageOfOrders; index as i">
                <ng-container *ngIf="order.id">
                  <input
                    class="visuallyHidden"
                    type="radio"
                    id="{{ order.id }}"
                    value="{{ order.id }}"
                    formControlName="orderID"
                  >

                  <label
                    class="tr"
                    for="{{ order.id }}"
                    (click)="selectOrder(order)"
                  >
                    <div class="td">{{ order.id }}</div>
                    <div class="td">{{ order.customer }}</div>
                    <div class="td">{{ order.products.length }}</div>
                    <div class="td">{{ order.order_volume }}</div>
                    <div class="td">{{ order.SKU }}</div>
                  </label>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </form>

        <app-pagination
          *ngIf="ordersAndPagination.pager.totalPages > 1"
          [pagination]="ordersAndPagination.pager"
          (goToPage)="goToPage($event)"
        ></app-pagination>
      </ng-container>

      <form
        class="tableWrap mbMd"
        [formGroup]="prepareProductsForm"
        *ngSwitchCase="2"
      >
        <div
          class="table orderTable prepareProductsTable mb0 mxAuto"
          *ngIf="selectedOrder.products[0]; else noProducts; index as i"
        >
          <div class="thead">
            <div class="tr">
              <div class="th">Product Name</div>
              <div class="th">Product SKU</div>
              <div class="th"></div>
            </div>
          </div>

          <div
            class="tbody"
            formArrayName="productSKUs"
          >
            <ng-container *ngFor="let product of selectedOrder.products; index as i">
              <ng-container *ngIf="product.name">
                <label
                  class="tr"
                  for="{{ product.SKU }}"
                >
                  <div class="td">{{ product.name }}</div>
                  <div class="td">{{ product.SKU }}</div>
                  <div class="td center">
                    <input
                      type="checkbox"
                      id="{{ product.SKU }}"
                      value="{{ product.SKU }}"
                      formControlName="{{ i }}"
                      (change)="selectProduct($event, product)"
                    >
                  </div>
                </label>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <ng-template #noProducts>
          <h4 class="emptyArrayError">Sorry, this order has no products to import!</h4>
        </ng-template>
      </form>

      <form
        class="tableWrap mbMd"
        [formGroup]="prepareProductVariantsForm"
        *ngSwitchCase="3"
      >
        <div
          class="table orderTable prepareProductsTable mb0 mxAuto"
          *ngIf="selectedProducts"
        >
          <div class="thead">
            <div class="tr">
              <div class="th">Product Name</div>
              <div class="th">Product SKU</div>
              <div class="th"> Product Variants</div>
            </div>
          </div>

          <div class="tbody">
            <ng-container *ngFor="let product of selectedProducts; index as product_i">
              <ng-container *ngIf="product.name">
                <div class="tr">
                    <div class="td">{{ product.name }}</div>
                    <div class="td">{{ product.SKU }}</div>
                    <div class="td">
                      <div
                        class="productVariantsWrap"
                        *ngIf="product.variants && product.variants[0]; else noVariants;"
                      >
                        <ul
                          class="noListStyle"
                          formArrayName="productVariants"
                        >
                          <li
                            class="radioInputWrap"
                            *ngFor="let variant of product.variants; index as variant_i"
                          >
                            <input
                              type="radio"
                              id="{{ product.SKU + '_variant_' + variant_i }}"
                              value="{{ variant.name }}"
                              formControlName="{{ product_i }}"
                            >

                            <label
                              for="{{ product.SKU + '_variant_' + variant_i }}"
                            >{{ variant.name }}</label>
                          </li>
                        </ul>
                      </div>

                      <ng-template #noVariants>
                        <h6 class="emptyArrayError small">This product has no specific variants. Please proceed to the next step!</h6>
                      </ng-template>
                    </div>
                  </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </form>

      <div
        class="confirmOrderWrap"
        *ngSwitchCase="4"
      >
        <div class="orderProductsWrap mbMd">
          <div class="orderInfo infoWrap mbMd">
            <h3>Order Id.: {{ selectedOrder.id }}</h3>

            <h5 class="info">Customer Name: {{ selectedOrder.customer }}</h5>

            <h5 class="info">SKU: {{ selectedOrder.SKU }}</h5>
          </div>

          <div
            class="orderGrid"
            *ngIf="selectedProducts"
          >
            <div
              class="productWrap mbMd"
              *ngFor="let selectedProduct of selectedProducts; index as i"
            >
              <h6 class="productName">Product: {{ selectedProduct.name }}</h6>

              <span>SKU: {{ selectedProduct.SKU }}</span>

              <span *ngIf="selectedProductVariantArray.controls[i].value">Product Variant: {{ selectedProductVariantArray.controls[i].value }}</span>
            </div>
          </div>
        </div>

        <div class="orderInfoWrap orderGrid mbMd">
          <div class="shippingInfoWrap mbMd">
            <h6 class="underlined">Shipping</h6>

            <span>
              Creative Lorem ipsum<br>
              421 Byant Street<br>
              ...
            </span>
          </div>

          <div class="productionTotalWrap mbMd">
            <h6 class="underlined">Production Subtotal</h6>

            <span><b>---</b></span>
          </div>
        </div>
      </div>

      <div class="formStepButtonsWrap">
        <div class="btnWrap boxShadow">
          <div class="inner">
            <button
              class="btnAlt"
              [disabled]="formStepIndex === 1"
              (click)="goToStep(formStepIndex - 1)"
            >Previous</button>

            <button
              class="btn"
              type="submit"
              *ngIf="formStepIndex !== 4"
              [disabled]="!currentStepForm.valid || (formStepIndex === 2 && !selectedOrder.products[0])"
              (click)="goToStep(formStepIndex + 1)"
            >Next</button>

            <button
              class="btn"
              *ngIf="formStepIndex === 4"
              (click)="closeModalAndImportOrder('importOrders')"
            >Confirm and Ship</button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noOrders>
      <h4 class="emptyArrayError">Sorry, no orders to import!</h4>
    </ng-template>
  </ng-container>
</div>

<div class="modalFooter flexXC pMd">
  <button
    class="btnAlt mb0"
    (click)="closeModal('importOrders')"
  >Cancel Order Import</button>
</div>
